.vscode/
logs/
.mypy_cache/
old_scripts/
credentials.json
roadmap.md
*.pt
*.pth
*.zip
*.png
results*/
MSLesSeg-Dataset/
runs/
gcs_api.json
.env

# Add folder but ignore its contents
!datasets/
datasets/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class