.vscode/
logs/
src/**/.mypy_cache/
old_scripts/
src/credentials.json
roadmap.md
src/venv/
*.pt
*.pth
*.zip
src/results*/
src/MSLesSeg-Dataset/
src/runs/
gcs_api.json
.env

# Add folder but ignore its contents
!src/datasets/
src/datasets/*

# Byte-compiled / optimized / DLL files
src/**/__pycache__/
src/**/*.py[cod]
src/**/*$py.class

# Latex intermediate files
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb